.container{
    display: flex;
    background-color: rgb(100, 54, 153);
    border:ridge rgb(187, 178, 178) 5px ;
    flex-wrap: wrap;
    justify-content: space-around;
    /* align-items: baseline; content will come in same line */
}
h1{
    text-align: center ;
}
.container>div{
    background-color: aqua;
    padding: 10px;
    margin: 5px;
    width: 200px;
}

